################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment1_G5/Ass01Solution/.vs/Ass01Solution/DesignTimeBuild/.dtbcache.v2
/Assignment1_G5/Ass01Solution/.vs/Ass01Solution/FileContentIndex/3a207820-ea0f-4389-9ef7-645789345697.vsidx
